fieldset{
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
    width: 75%;
    margin: 20px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#dadospessoais{
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#dadospessoais .primeiro,
#dadospessoais .segundo{
    margin-bottom: 7px;
}

.primeiro legend{
    width: 305px;
}

.segundo legend{
    width: 105px;
}

@media only screen and (max-width: 959px) {
    * {
        font-size: 12px;
    }
    span{
        font-size: 9em;
    }
    section{
        height: 30%;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    * {
        font-size: 12px;
    }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    * {
        font-size: 14px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    * {
        font-size: 9px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    * {
        font-size: 7px;}
    }




