fieldset{
    padding: 1.5em;
    border: 1px solid #ccc;
    background: #f8f8f8;
    width: 95%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sobre-mim ul{
    margin-left: 20px;
}

#unico legend{
    width: 18%;
}

#unico a:hover{
    text-decoration: none;
}

#unico p{
    margin-bottom: -10px;
}
